/* #additional-details {
    display: flex;
    flex-direction: row;
} */

#latest-draw-container {
    display: flex;
}

@media (min-width: 768px) {

    /* Adjust this breakpoint as needed */
    #latest-draw-container {
        flex-direction: row;
        /* Align children in a row on desktop */
        flex-wrap: wrap;
        /* Allow the items to wrap as needed */
    }

    #latest-draw-details {
        min-width: 30%;
    }

    #score-distribution {
        flex: 60%;
        /* Takes up 70% of the parent container */
    }
}

#latest-draw-details {
    min-width: 30%;
}

#latest-draw-details span {
    font-weight: bold;
}

#score-distribution {
    height: 400px;
}

.rangeslider-rangeplot.xy .plot .scatterlayer.mlayer .text {
    display: none;
}